.about_wrapper p{
    font-size: 15px;
    letter-spacing: 1.4px;
    font-weight: 500;
    display: block;
    color: var(--text-gray);
    margin-bottom: 0px;
}
 ul.nav-pills {
    border: 1px solid var(--gray-color);
    border-radius: 50px;
}

.about_wrapper ul li .nav-link {
    border-radius: 50px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all .4s cubic-bezier(0, 0, 0.2, 1);
    display: inline-block;
    color: var(--bg-dark-blue);
    border: 0;
}

.about_wrapper ul li .nav-link.active {
    background-color: var(--bg-dark-blue) !important;
}

/* Ensuring it's applied */

.about_wrapper .single-progress {
    margin-top: 20px;
    position: relative;
    overflow: hidden;
}
.about_wrapper .single-progress h6{
 letter-spacing: 1.4px;
 color: var(--primary-bg-color);
}

.about_wrapper .single-progress .progress {
    height: 5px;
    border-radius: 30px;
    background-color: var(--bg-dark-blue);
}

.single-progress .label {
    position: absolute;
    right: 0; 
    top: 10px; 
    font-size: 14px; 
    color: var(--primary-bg-color); 
}

.about_wrapper .single-progress .progress-bar {
    background-color:var(--gray-color);
    border-radius: 30px;

}

.edu-details h5{
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    display: inline-block;
    color: var(--primary-bg-color);
    margin-bottom: 0px;
    vertical-align: middle;
}
.edu-details h5 span{
    font-size: 10px;
    display: inline-block;
    color: var(--text-gray); 
    vertical-align: middle;
}
.edu-details h4{
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    display: block;
    color: var(--text-gray);
    margin-bottom: 0px;
}

.edu-details span{
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 500;
    display: block;
    color: var(--text-gray);
    margin-bottom: 0px;
}

.experience ul{
 list-style-type:'\1F4BC';
}
.experience ul li {
    padding: 10px;
    font-size: 12px;
    letter-spacing: 1.1px;
    font-weight: 400;
    color: var(--text-gray);
    font-family: var(--primary-font);
}
.achievements ul{
    list-style-type: '\1F3C6';
}
.achievements ul li {
    padding: 10px;
    font-size: 12px;
    letter-spacing: 1.1px;
    font-weight: 400;
    color: var(--text-gray);
    font-family: var(--primary-font);
}

