<!-- app/templates/contact.html -->
{% extends 'layout.html' %}
{% block title %}Contact {% endblock title %}
{% block content %}
<!-- contact -->
<section id="contact" class="contact_wrapper">
    <div class="container">
        <div class="row justify-content-between align-items-center mb-4">
            <div class="col-lg-5 order-1 mb-4 order-lg-1 mb-lg-0">
                <div class="row call_details">
                    <div class="col-sm-9 col-lg-12 col-md-12">
                        <h3 class="subtitle"> Meet Up ?</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h6><a href="mailto:bjnayak333@gmail.com" style="text-decoration: none; text-transform: lowercase;"><i class="fa-solid fa-envelope"></i>bjnayak333@gmail.com</a></h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9 mb-4">
                        <img src="../static/images/undraw_getting-coffee_rzv2.svg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-lg-7 order-lg-1 pe-lg-5 text-lg-start text-center"> 
                <div class="row">
                    <div class="col-md-3">
                        <h6 class="subtitle">Feedback </h6>
                    </div>
                </div>
                <form action="" method="POST" class="mt-4 mb-4">
                    <div class="mb-4">
                        <input type="text" name="name" class="form-control" placeholder="your Name...." autocomplete="on">
                    </div>
                    <div class="mb-4">
                        <input type="number" name="phone" class="form-control" placeholder="your phone...." autocomplete="on">
                    </div>
                    <div class="mb-4">
                        <input type="email" name="email" class="form-control" placeholder="your email...." autocomplete="on">
                    </div>
                    <div class="mb-4">
                        <textarea cols="40" rows="4" class="form-control" name="message" id="message"
                            placeholder="write message..... "></textarea>
                    </div>
                    <button type="submit" class="main-btn">Submit</button>
                </form>
            </div>

        </div>
    </div>
</section>
<!-- contact exit -->
{% endblock %}