<!-- app/templates/index.html -->
{% extends 'layout.html' %}
{% block title %}
Home {% endblock title %}
{% block content %}
<!-- banner section -->
<section id="home" class="banner_wrapper">
    <div class="container">
        <div class="row ">
            <div class="col-sm-12 col-md-6 text-center text-md-start">
                <h6>Hello , It's Me</h6>
                <h1>Bukya Jagadish Naik</h1>
                <h2>And I'M a <span>Developer</span></h2>
                <p class="text-wrap">I specialize in full-stack web development, data science, and machine learning.
                    Passionate about building innovative, efficient, and user-friendly applications, I’m always eager to
                    learn new technologies and solve real-world problems.</p>
                <div class="mt-4">
                    <a href="{{ url_for('download_cv') }}" class="main-btn">Download CV</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="image-container">
                    <img src="../static/images/IMG_20241031_224927_302.webp" alt="profile"
                        class="home-img falling-image img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner exit -->
{% endblock %}