<!-- app/templates/contact.html -->
{% extends 'layout.html' %}

{% block title %}Services {% endblock title %}
{% block content %}
<!-- service section -->
<section id="services" class="services_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center mb-4">
                <h6>What i can do for you ?</h6>
                <h2 class="subtitle">My awesome services</h2>
                <p class="services-desc">"Whether you're looking to build a stunning website, create a seamless mobile app, or boost your online visibility, my services are tailored to help you succeed. I deliver high-quality solutions that meet your unique needs."</p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                        <div class="container card-body text-md-start text-center">
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    <img src="../static/images/undraw_web-shopping_m3o2.svg" alt="services"
                                        class="img-fluid mb-4">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    <h6>E-Commerce Solutions</h6>
                                    <p>"Empowering businesses with robust online selling platforms."</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body text-md-start text-center">
                            <img src="../static/images/undraw_all-the-data_5lil.svg" alt="services"
                                class="img-fluid mb-4">
                            <h6>Data analysis</h6>
                            <p>"Turning raw data into actionable insights for smarter decisions."</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body text-md-start text-center">
                            <img src="../static/images/undraw_version-control_eiam.svg" alt="services"
                                class="img-fluid mb-4">
                            <h6>Technical Support</h6>
                            <p>"Providing 24/7 IT Support to Ensure Your Systems Run Smoothly."</p>   
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                        <div class="container card-body text-md-start text-center">
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    <img src="../static/images/undraw_modern-design_slgv.svg" alt="services"
                                        class="img-fluid mb-4">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    <h6>Web / Mobile App Development</h6>
                                    <p>"Crafting User-Friendly Websites and Apps That Drive Engagement and Success."</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body text-md-start text-center">
                            <img src="../static/images/undraw_business-decisions_3x2a.svg" alt="services"
                                class="img-fluid mb-4">
                            <h6>Business Intelligence (BI) Solutions</h6>
                            <p>"Empowering Data-Driven Decisions Through Advanced Business Intelligence Tools."</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body text-md-start text-center">
                            <img src="../static/images//undraw_firmware_3fxd.svg" alt="services"
                                class="img-fluid mb-4">
                            <h6>Machine Learning & AI Solutions</h6>
                            <p>"Leveraging Artificial Intelligence to Automate and Innovate Your Business Processes."</p>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- sevice exit -->
{% endblock %}